################################################################################
# Aliases for all distributions
################################################################################

########################################
# Aliases that add colors
########################################
alias diff="diff --color=auto"
alias grep="grep --color=auto"
alias ls="ls --color=auto"
alias ll="ls -laF --color=auto"
alias dmesg="dmesg --color"
alias ip="ip -color=auto"

########################################
# Default editor
########################################
if [[ -x "$(command -v vim)" ]]; then
  export VISUAL=vim
  export EDITOR="$VISUAL"
elif [[ -x "$(command -v vi)" ]]; then
  export VISUAL=vi
  export EDITOR="$VISUAL"
else
   printf "Please set an editor, vim and/or vi are not installed"
fi

########################################
# Miscellaneous
########################################
alias cls="clear"
alias jc="journalctl"
alias k="kubectl"
alias tf="terraform"
alias sc="systemctl"

####################
# Python HTTP server
####################
function pyserver() {
    local port=${1:-8000}
    python3 -m http.server "$port"
}
# pyserver           # Starts the server on port 8000
# pyserver 9000      # Starts the server on port 9000
alias pyserver="pyserver"

####################
# show disks (pretty)
####################
disks() {
  lsblk -o NAME,MOUNTPOINT,FSTYPE,FSUSE%,SIZE
}

################################################################################
# Aliases for specific distributions
################################################################################
release_file="/etc/os-release"

########################################
# Arch-based
########################################
if grep -q -i archlinux $release_file; then
  alias yolo="sudo pacman -Syu --noconfirm && yay -Syua --devel --noconfirm && flatpak update -y && flatpak uninstall --unused -y"
  alias lsorphans="pacman -Qtdq"
  alias rmorphans="pacman -Qtdq | sudo pacman -Rns -"
  alias lsexplicit="pacman -Qetq"
  alias lsaur="pacman -Qmq"
  alias upvote="for i in `pacman -Qqm`; do ssh aur@aur.archlinux.org vote $i; done"
########################################
# Debian-based
########################################
elif grep -q -i debian $release_file; then
  alias yolo="sudo apt update && sudo apt dist-upgrade -y && sudo apt autoclean -y && sudo apt autoremove -y"
########################################
# Others
########################################
else
  printf "Release file not found, could not set distro-specific aliases."
fi
